<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="smasini.it.traxer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>

    <application
        android:name=".app.Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="@string/is_rtl"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <activity
            android:name=".app.activities.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
        <activity
            android:name=".app.activities.SearchActivity"
            android:label="@string/search_activity_title"
            android:launchMode="singleTop"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppThemeWithActionBar">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>

        <provider
            android:name=".database.TraxerProvider"
            android:authorities="smasini.it.traxer" />
        <activity
            android:name=".app.activities.DetailSerieActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:parentActivityName=".app.activities.MainActivity" />
        <activity
            android:name=".app.activities.ActorDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:parentActivityName=".app.activities.DetailSerieActivity" />
        <activity
            android:name=".app.activities.EpisodesActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:parentActivityName=".app.activities.DetailSerieActivity" />
        <activity
            android:name=".app.activities.EpisodeDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:parentActivityName=".app.activities.EpisodesActivity" />
        <activity
            android:name=".app.activities.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Notification -->
        <receiver android:name=".notification.NotificationReceiver" />
        <!-- Sync -->
        <service android:name=".sync.AuthenticatorService" >
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
        <service
            android:name=".sync.SyncService"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>
        <!-- Widget -->
        <receiver
            android:name=".widget.TraxerAppWidgetProvider"
            android:enabled="true"
            android:label="@string/widget_name" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="app.nanodegree.masini.simone.sunshine.ACTION_DATA_UPDATED" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget" />
        </receiver>
        <service
            android:name=".widget.WidgetRemoteViewsService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
    </application>

</manifest>